{%#--- NOTES ---# 
  #
  # 'section.settings' is configured using the 'schema' tag below. These 
  # settings are exposed in the admin dashboard and can be edited there. 
  #
  # We perform some image loading optimizations in the body of the '<a>' 
  # tag. 'width' defines the max image width to load. 'widths' defines a set of 
  # sizes to load based on the actual size of the image we want. 'sizes' defines 
  # how wide we want to display the image. 
  #
  # 'stylesheet' is for static css. 
  #
  # 'style' is for dynamic css. 
  #
  #--- TODO ---# 
  # + Add styling rules for non-image header - 'Basil Racuk' text 
%}

<header>
  <a href="{{ routes.root_url }}" class="header__logo">
    {% if section.settings.logo != blank %}
      {{ section.settings.logo | image_url: width: 1920 | image_tag:
            alt: shop.name,
            widths: '400, 800, 1200, 1920',
            sizes: '80vw',
            class: 'header__logo-img'
      }}
    {% else %}
      {{ shop.name }}
    {% endif %}
  </a>
</header>

{% stylesheet %}
  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header a {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
  }
{% endstylesheet %}

{% style %}
  .header__logo-img {
    display: block;
    height: auto;
    width: {{ section.settings.logo_width }}vw;
  }
{% endstyle %}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 20,
      "max": 100,
      "step": 5,
      "unit": "vw",
      "label": "Logo width (% of viewport)",
      "default": 80
    }
  ]
}
{% endschema %}
